# We never commit object files
*.o
*.so
*.a
# We never commit pdfs
*.pdf
# Do not add Python helper files
*.pyc
*.npy
*.npz
__cache__
__pycache__
# Ignore python environment
.pyenv
.venv
# Ignore all latex files
*.aux
*.bcf
*.log
*.run.xml
*.nav
*.out
*.snm
*.toc
# No need to include parameter files
paramvec*
# Ignore the vscode files
.vscode
# We do not commit performance data
perf.data
*.scorep_init.*
# Ignore the data that we stored
cache
inputfile_*
*.pkl
*.pkl.gz
# Ignore profiling data
*.prof
# We do not store checkpoints of jupyter notebooks
.ipynb_checkpoints

src/*.egg-info
# Ignore coverage files
.coverage
